[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
six = ">=1.9.0"
python-dateutil = "==2.8.0"
decorator = "==3.4.0"
psycopg2 = "==2.7.7"
python-memcached = "==1.59"
django-view-cache-utils = "==0.1.1"
django-ajax-selects = "==1.3.6"
django-elasticache = "==0.0.3"
django-authority = "==0.10"
isodate = "==0.6.0"
units = "==0.7"
djorm-pgarray = "==1.2"
mimeparse = "==0.1.3"
lxml = "==4.6.3"
django-haystack = "==1.2.7"
pysolr = "==3.3.0"
pyparsing = "==2.0.2"
rollbar = "==0.14.6"
celery = {extras = ["redis"],version = "==4.3.0"}
kombu = "==4.5.0"
httplib2 = "==0.8"
certifi = "==2018.11.29"
csvkit = "==0.6.1"
iso3166 = "==0.9"
traceback2 = "==1.4.0"
paramiko = "==2.6.0"
pyodbc = "==4.0.25"
pandas = "==0.24.2"
requests-cache = "==0.4.13"
cryptography = "==2.8"
ndg-httpsclient = "==0.5.1"
pyasn1 = "==0.4.5"
us = "==1.0.0"
flower = "==0.9.3"
titlecase = "==0.12.0"
croniter = "==0.3.29"
requests-futures = "==0.9.9"
unittest2 = "*"
mock = "*"
contextlib2 = "*"
httmock = "*"
coverage = "*"
ipython = "*"
django-debug-toolbar = "==1.0.1"
fabric = "==2.4.0"
invocations = "==1.4.0"
blessings = "==1.7"
python-geoip = "*"
python-geoip-geolite2 = "*"
boto3 = "*"
uWSGI = "==2.0.18"
SQLAlchemy = "==1.2.16"
PyYAML = "==3.13"
Unidecode = "==1.0.23"
Django = "==1.6.11"
ProxyTypes = "==0.10.0"
"dogpile.cache" = "==0.5.7"
pyOpenSSL = "<17.0"
requests_ntlm = "*"

[requires]
python_version = "3.7"
